# CloudPirates / Official Image Configuration

# 1. Replica Count
replicaCount: 1

# 2. Ingress (Expose UI)
ingress:
  enabled: false

# 3. Disable built-in Postgres
postgres:
  enabled: false

# 4. Add OBO feature
conf:
  features: "token-exchange", "hostname:v2"

# 5. Environment Variables (The Universal Config)
# Instead of relying on chart-specific parameters, we set standard Keycloak Env Vars.
extraEnv:
  # --- Admin Credentials ---
  - name: KEYCLOAK_ADMIN
    value: admin
  - name: KEYCLOAK_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: keycloak-admin-creds
        key: admin-password # Matches your sealed secret

  # --- Database Connection --- - probably not needed
  - name: KC_DB
    value: postgres
  - name: KC_DB_URL_HOST
    # Connect to the postgres service
    value: "auth-postgres.auth.svc.cluster.local"
  - name: KC_DB_URL_PORT
    value: "5432"
  # --- Database Credentials ---
  - name: KC_DB_URL_DATABASE
    valueFrom:
      secretKeyRef:
        name: keycloak-db-creds
        key: database # Matches your sealed secret
  - name: KC_DB_USERNAME
    valueFrom:
      secretKeyRef:
        name: keycloak-db-creds
        key: name # Matches your sealed secret
  - name: KC_DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: keycloak-db-creds
        key: password # Matches your sealed secret

  # --- Operational Settings ---
  - name: KC_HOSTNAME
    value: "https://192.168.1.38:7001"
  - name: KC_HOSTNAME_ADMIN
    value: "https://192.168.1.38:7001/admin"
  - name: KC_HTTPS_PORT
    value: "7001"
  - name: KC_METRICS_ENABLED
    value: "true"
  - name: KC_HEALTH_ENABLED
    value: "true"
  - name: KC_PROXY_HEADERS
    value: "xforwarded"
  - name: KC_HOSTNAME_STRICT
    value: "false" # Easier for test clusters
  # Tell Keycloak it is behind a proxy (Traefik) that terminates SSL
  - name: KC_PROXY
    value: "edge"