# 1. POSTGRES CONFIGURATION (The Sub-chart)
database:
  fullnameOverride: "auth-postgres" # Fix the name so it's predictable

  primary:
    persistence:
      enabled: true
      size: 8Gi
      storageClass: local-path

# 2. KEYCLOAK CONFIGURATION (The App)
# We use extraEnv to manually wire the connection details.
extraEnv:
  - name: KC_HOSTNAME
    value: keycloak.localhost